body{
    background-color: #EAF6F6;
}

img{
    height: 200px;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
hr{
    border: dotted 6px;
    border-bottom: none;
    border-color: grey;
    border: width 50px;
    width:10%
}




